@font-face {
  font-family: Nunito Sans ExtraBold;
  src: url(fonts/NunitoSans-ExtraBold.ttf);
}

#nav-top {
  height: 60px;
  background-color: #363636;
}

#logo {
  margin-left: 2%;
  margin-top: -0.1%;
}

body {
  color: #363636;
  letter-spacing: -0.5px;
  background-color: #F2F3F3 !important;
  font-family: Nunito Sans ExtraBold !important;
}

#logotipo {
  width: 35%;
}

#titulo {
  margin-top: 7%;
  margin-bottom: 3%;
  font-style: italic;
}

#campoSenha {
  background-color: rgba(54, 54, 54, 0.1);
}

#senha {
  color: #363636;
  font-size: 120%;
  font-style: bold;
  text-align: center;
}

#geraSenha {
  width: 100%;
  color: white;
  height: 100%;
  background-color: #F19F01;
}

#escolhaTempo {
  color: #363636;
  margin-bottom: 3%;
  background-color: rgba(54, 54, 54, 0.1);
}

#submit {
  color: white;
  width: 100%;
  border: none;
  margin-top: 2%;
  margin-bottom: 3%;
  background-color: #F19F01;
}

#campoLink {
  text-align: center;
  background-color: rgba(8, 151, 233, 0.1);
}

#link {
  color: #0000EE;
  cursor: pointer;
  text-decoration: underline;
}

#conteudo {
  display: none;
  text-align: center;
  color: #363636;
}

#nav-bottom {
  color: white;
  height: 35px;
  font-size: 110%;
  justify-content: center;
  background-color: #363636;
}